@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow-y: auto;
    flex-wrap: wrap;
}

.container {
    display: flex;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    align-items: stretch;
    margin: 10px;
}

/* Panel guzików */
.panel {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

.panel h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

#internal-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floor-button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #34495e;
    color: #ecf0f1;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid transparent;
}

.floor-button:hover {
    background-color: #1abc9c;
}

/* Budynek */
.building {
    position: relative;
    padding: 20px;
    background-color: #bdc3c7;
    display: flex;
    justify-content: center;
}

.elevator-shaft {
    position: relative;
    width: 60px;
    background-color: #7f8c8d;
    border: 2px solid #2c3e50;
    border-radius: 5px;
    overflow: hidden;
}

.elevator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #34495e;
    display: flex;
    justify-content: space-between;
}

.door {
    width: 50%;
    height: 100%;
    background-color: #2c3e50;
}

.left-door {
    border-right: 1px solid #1abc9c;
}

.right-door {
    border-left: 1px solid #1abc9c;
}

/* Piętra */
.floors {
    display: flex;
    flex-direction: column;
}

.floor {
    height: 80px;
    padding: 18px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #95a5a6;
}

.floor-label {
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.call-button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid transparent;
}

.call-button:hover {
    background-color: #16a085;
}

.selected-button {
    color: gold;
    border: 2px solid gold;
}

.state-list {
    flex: 1;
    padding: 5px;
    overflow-y: auto;
    border-bottom: 1px solid #bdc3c7;
}

.state-list>div {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.state-list>div>pre {
    white-space: pre-wrap;
}

.state-list>div:hover {
    background-color: #f0f4f8;
}

.state-detail-panel {
    flex: 1;
    padding: 2px;
    background-color: #f9f9f9;
    display: none;
    overflow-y: auto;
    position: relative;
}

.state-detail-content {
    padding: 5px;
    width: 100%;
    height: 100%;
}

.state-detail-content button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.state-detail-content button:hover {
    background-color: #16a085;
}

.state-detail-state,
.state-detail-extCmds {
    font-family: monospace;
    white-space: pre-wrap;
}

/* Responsywność */
@media (max-width: 500px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    .panel,
    .building {
        width: 100%;
    }

    .container:nth-child(2) {
        max-height: 500px;
    }
}