{% include header.html %}
<!-- CONTENT -->
<ul>
  <li><a href="index.html">Research Area</a></li>
  <li><a href="introduction.html">Introduction</a></li>
  <li><a href="types.html">Type System</a></li>
  <li><a href="v2.html">version 2 roadmap</a></li>
  <li><a href="mimuw.html">MIMUW</a></li>
  <li><a href="use_case_js.html">Using nianio pattern in JS</a></li>
  <li><a href="use_case_c.html">Using nianio pattern in C</a></li>
  <li><a href="json-ptd_intro.html">Introduction to json-ptd technology</a></li>
  <li><a href="json-ptd_specification.html">json-ptd specification</a></li>
  <li><a href="json-ptd_php_validator.html">PHP json-ptd validator documentation</a></li>
  <li><a href="json-ptd_validator.html">JavaScript json-ptd validator documentation</a></li>
  <li><a href="./json-ptd/index.html">JavaScript json-ptd validator</a></li>
  <li><a href="nianio_pattern_specyfication.html">Nianio Pattern specification</a></li>
</ul>

{{ content }}
<!-- FOOTER  -->
{% include footer.html %}
